<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aula8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC1024BF1E85DE3900EE24C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC1024D81E85DE3900EE24C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC1024E31E85DE3900EE24C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
